<div class="ads-container">
  <div class="search-card">
    <form (ngSubmit)="search()" [formGroup]="form" class="search-form">
      <div>
        <input formControlName="city" placeholder="Grad" />
      </div>
      <div>
        <input formControlName="country" placeholder="Država" />
      </div>
      <div>
        <input type="number" formControlName="minRooms" placeholder="Najmanji broj soba" />
      </div>
      <div>
        <input type="number" formControlName="minArea" placeholder="Najmanja površina" />
      </div>
      <div>
        <button [disabled]="form.invalid">Pretraži</button>
      </div>
    </form>
  </div>

  <div class="ads-list">
    <div *ngFor="let ad of ads" class="ad-card" (click)="open(ad)">
      <img *ngIf="ad.urlPhotos?.length" [src]="ad.urlPhotos[0]" />
      <div class="ad-body">
        <h5>{{ ad.title }}</h5>
        <p class="ad-location">{{ ad.city }}, {{ ad.country }}</p>
        <p>{{ ad.description | slice : 0 : 100 }}...</p>
        <div class="ad-details">
          <small>Sobe: {{ ad.numberOfRooms }} • Površina: {{ ad.homeArea }}</small>
          <br />
          <a [routerLink]="['/ad-detail', ad.id]" class="btn btn-primary">Više...</a>
        </div>
      </div>
    </div>
  </div>
</div>
