<div class="create-ad-container">
  <div class="create-ad-card">
    <h4>Kreiraj oglas</h4>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-group">
        <input formControlName="title" placeholder="Naslov" />
        <div class="error" *ngIf="form.controls['title'].errors?.['capitalLetter']">
          Naslov mora početi velikim slovom
        </div>
      </div>

      <div class="form-group">
        <textarea formControlName="description" placeholder="Opis"></textarea>
        <div
          class="error"
          *ngIf="form.controls['description'].touched && form.controls['description'].invalid"
        >
          Opis je obavezan
        </div>
      </div>

      <div class="form-group">
        <input formControlName="address" placeholder="Adresa" />
        <div
          class="error"
          *ngIf="form.controls['address'].touched && form.controls['address'].invalid"
        >
          Adresa je obavezna
        </div>
      </div>

      <div class="form-row">
        <input formControlName="city" placeholder="Grad" />
        <div class="error" *ngIf="form.controls['city'].errors?.['capitalLetter']">
          Ime grada mora početi velikim slovom
        </div>
        <div class="form-subgroup">
          <input formControlName="country" placeholder="Država" />
          <div class="error" *ngIf="form.controls['country'].errors?.['capitalLetter']">
            Ime države mora početi velikim slovom
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-subgroup">
          <input type="number" formControlName="numberOfRooms" placeholder="Sobe" />
          <div
            class="error"
            *ngIf="form.controls['numberOfRooms'].touched && form.controls['numberOfRooms'].invalid"
          >
            Broj soba je obavezan
          </div>
        </div>
        <div class="form-subgroup">
          <input type="number" formControlName="homeArea" placeholder="Površina" />
          <div
            class="error"
            *ngIf="form.controls['homeArea'].touched && form.controls['homeArea'].invalid"
          >
            Površina je obavezna
          </div>
        </div>
      </div>

      <div class="form-check">
        <input type="checkbox" formControlName="garden" id="garden" />
        <label for="garden">Dvorište</label>
      </div>

      <div class="form-check">
        <input type="checkbox" formControlName="parkingSpace" id="parking" />
        <label for="parking">Parking</label>
      </div>

      <div class="form-check">
        <input type="checkbox" formControlName="swimmingPool" id="pool" />
        <label for="pool">Bazen za plivanje</label>
      </div>

      <div class="form-group">
        <label>Fotografija</label>
        <input type="file" (change)="onFileChange($event)" multiple />
      </div>

      <button [disabled]="loading">Kreiraj</button>
    </form>
  </div>
</div>
