<div class="pending-users-container">
  <h4>Korisnici na čekanju</h4>
  <table class="users-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Ime</th>
        <th>Email</th>
        <th>Uloga</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.firstName }} {{ u.lastName }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.roles }}</td>
        <td>
          <button (click)="approve(u.id)">Odobri</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
